*{
    font-family: poppins;
}
header{
    margin:  30px;
    padding: 30px 120px;
    border: 3px solid black;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.right-nav>ul{
    list-style: none;
    display: flex;
    text-decoration: none;
}
.right-nav>ul>li{
    padding: 10px;
}
.right-nav>ul>li>a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-weight: 600;
    font-size: 16px;
}
.left-nav>h3{
    color: rgb(58, 58, 58);
    font-weight: 700;
    font-size: 24px;
}
/* banner  */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.banner-image{
    background-image:url(./image/Circle\ design.svg);
}
.banner-title{
    font-weight: 700;
    font-size: 52px;
    color: rgb(58, 58, 58);
    margin-bottom: 16px;
}
.banner-description{
    font-weight: 600;
    font-size: 16px;
    color: rgb(58, 58, 58);
    margin-bottom: 26px;
}
.btn-primary{
    font-weight: 700;
    font-size: 16px;
    padding: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(224, 44, 109);
    border: none;
    border-radius: 41px;
}
/* logos */
.logo{
    display: flex;
    justify-content: space-around;
    padding-top:  80px;
    list-style: none;
}
/* bottom divider  */
.divider{
    width: 1100px;
    height: 5px;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
    margin: auto;
}

/* card  */
main{
    border: 3px solid black;
    width: 1150px;
    margin: auto;
}
.card-container-title{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: rgb(58, 58, 58);
    margin-top: 80px;
    margin-bottom: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
    
}
.card{
    margin: auto;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.see-more{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 16px;
}